In [1]:
import csv
import itertools
import os
import re
import unicodedata
from collections import namedtuple
from glob import glob
import requests
import os
import re
import pandas as pd
from nltk.tokenize import RegexpTokenizer, sent_tokenize
import numpy as np
import MDAExtract

In [2]:
dfFin=pd.read_csv('/Volumes/Elements/MasterThesis/MAstertheisMertut/DataFiles/data2.2imp.new.1.csv', sep=',')
dfFin.shape

(4090, 31)

In [3]:
dfFin=dfFin.rename(columns={"Company.Name": "CONAME","time":"FYEAR"})
dfFin["CONAME"]=dfFin["CONAME"]+" "+ dfFin["FYEAR"].map(str)
dfFin.head()

,CONAME,FYEAR,AAER.Dummy,AccRec.DbtsT,Sales.TurnNt,COGS.costsgd,Assets.Total,CurrAssetTot,PPE.TotalNet,DeprAmortTot,...,GrProfitMarg,EBIT.Marginn,NtProfitMarg,CashFLMargin,ROA.finratio,ROE.RnCommEQ,EBITDAMargin,Acc.Payables,InventoryPrx,Primary.SIC.Code
0,3COM CORP 2001,2001,0,147.113,1477.932,843.553,2526.792,1663.044,676.154,266.820,...,42.923,-25.662,-40.323,-22.270,-23.585,-30.558,-7.608,125.903,61.777,3576
1,3COM CORP 2002,2002,0,90.290,932.866,375.604,2062.360,1653.180,248.790,162.523,...,59.737,-5.957,-24.665,-7.243,-11.157,-13.388,11.121,105.583,27.068,3576
2,3COM CORP 2003,2003,0,66.372,698.884,351.125,1820.818,1519.677,72.452,111.714,...,49.759,-25.483,-49.631,-33.646,-19.050,-23.138,-9.829,80.408,27.679,3576
3,3COM CORP 2004,2004,0,61.664,651.244,372.649,1592.967,977.509,69.535,53.256,...,42.779,-26.530,-30.048,-21.870,-12.284,-15.349,-18.568,99.632,29.311,3576
4,3COM CORP 2005,2005,0,178.344,794.807,442.961,1861.361,1249.345,89.109,44.685,...,44.268,-16.764,-12.667,-7.044,-5.409,-8.373,-11.141,153.245,148.819,3576

In [4]:
dfFin.shape

(4090, 31)

In [5]:
df2=pd.read_csv('/Volumes/Elements/MasterThesis/Thesis/DataSheets/index.10k.csv',header=None, sep=',')
df2.columns=["FORM","CONAME","CIK","FDATE","SECFNAME"]
df2["FYEAR"]=df2.apply(lambda row: str(row.FDATE[:4]), axis=1)
df2["CONAME"]=df2["CONAME"]+" "+ df2["FYEAR"].map(str)
df2.head(){{}}

,FORM,CONAME,CIK,FDATE,SECFNAME,FYEAR
0,10-K,AMERICAN MEDICAL HOLDINGS INC 1993,861439,1993-11-29,edgar/data/861439/0000912057-94-000263.txt,1993
1,10-K,DISNEY WALT CO 1993,29082,1993-12-22,edgar/data/29082/0000950131-94-000021.txt,1993
2,10-K,ELIZABETHTOWN GAS CO 1993,32377,1993-12-13,edgar/data/32377/0000032377-94-000001.txt,1993
3,10-K,INTERNATIONAL GAME TECHNOLOGY 1993,353944,1993-12-23,edgar/data/353944/0000353944-94-000005.txt,1993
4,10-K,ABBOTT LABORATORIES 1994,1800,1994-03-03,edgar/data/1800/0000912057-94-000771.txt,1994

In [6]:
ListConame=dfFin.CONAME.tolist()
ListConame
ListConame2=df2.CONAME.tolist()

In [7]:
df2subset=df2[df2["CONAME"].isin(ListConame)]

In [8]:
#this is the whole subset of all 10kindex csv for which Meirut has Compustat Data!!! Lets see how many are included
#in the Fraud Data Set and exclude those to retrieve all NON Fraud Cases for which we have COmpustat Data from Meirut
df2subset.head()

,FORM,CONAME,CIK,FDATE,SECFNAME,FYEAR
15153,10-K,3DFX INTERACTIVE INC 1998,1010026,1998-02-18,edgar/data/1010026/0000891618-98-000818.txt,1998
15159,10-K,AAON INC 1998,824142,1998-03-26,edgar/data/824142/0001026608-98-000005.txt,1998
15180,10-K,ACTEL CORP 1998,907687,1998-03-31,edgar/data/907687/0000907687-98-000026.txt,1998
15182,10-K,ACUSON CORP 1998,717014,1998-03-27,edgar/data/717014/0001012870-98-000763.txt,1998
15187,10-K,ADC TELECOMMUNICATIONS INC 1998,61478,1998-01-16,edgar/data/61478/0001047469-98-001384.txt,1998

In [9]:
df2subset.shape

(3952, 6)

In [10]:
df2subset["CONAME"]=df2subset.apply(lambda row: row.CONAME[:-5], axis=1)

/Users/patricia/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df2subset.head()

,FORM,CONAME,CIK,FDATE,SECFNAME,FYEAR
15153,10-K,3DFX INTERACTIVE INC,1010026,1998-02-18,edgar/data/1010026/0000891618-98-000818.txt,1998
15159,10-K,AAON INC,824142,1998-03-26,edgar/data/824142/0001026608-98-000005.txt,1998
15180,10-K,ACTEL CORP,907687,1998-03-31,edgar/data/907687/0000907687-98-000026.txt,1998
15182,10-K,ACUSON CORP,717014,1998-03-27,edgar/data/717014/0001012870-98-000763.txt,1998
15187,10-K,ADC TELECOMMUNICATIONS INC,61478,1998-01-16,edgar/data/61478/0001047469-98-001384.txt,1998

In [13]:
dfAllFraudCases=pd.read_csv('/Volumes/crajapax/DataCollection/Datasheets/AllFraudCases.csv', sep=',')
dfAllFraudCases.head()

,FORM,CONAME,CIK,FDATE,SECFNAME,target
0,10-K,POLICY MANAGEMENT SYSTEMS CORP,356226,4/13/94,edgar/data/356226/0000356226-94-000007.txt,1
1,10-K,STRUCTURAL DYNAMICS RESEARCH CORP /OH/,820235,3/28/95,edgar/data/820235/0000906318-95-000015.txt,1
2,10-K,CUC INTERNATIONAL INC /DE/,723612,4/25/96,edgar/data/723612/0000950112-96-001227.txt,1
3,10-K,HEALTHSOUTH CORP,785161,3/27/97,edgar/data/785161/0001005150-97-000195.txt,1
4,10-K,CUC INTERNATIONAL INC /DE/,723612,5/1/97,edgar/data/723612/0001005477-97-001218.txt,1

In [14]:
ListSECFNAME=df2subset.SECFNAME.tolist()
ListSECFNAME2=dfAllFraudCases.SECFNAME.tolist()
ListSECFNAME3=list(set(ListSECFNAME)-set(ListSECFNAME2))

In [15]:
dfFraudSubset=df2subset[df2subset["SECFNAME"].isin(ListSECFNAME2)]

In [16]:
dfFraudSubset.head()

,FORM,CONAME,CIK,FDATE,SECFNAME,FYEAR
15764,10-K,CAMBREX CORP,820081,1998-03-20,edgar/data/820081/0000950123-98-002731.txt,1998
21383,10-K,TRIDENT MICROSYSTEMS INC,859475,1998-09-25,edgar/data/859475/0000891618-98-004302.txt,1998
22337,10-K,ANIKA THERAPEUTICS INC,898437,1999-03-31,edgar/data/898437/0001047469-99-013073.txt,1999
22441,10-K,AURORA FOODS INC,1033523,1999-03-12,edgar/data/1033523/0000929624-99-000423.txt,1999
22692,10-K,CAMBREX CORP,820081,1999-03-22,edgar/data/820081/0000950123-99-002355.txt,1999

In [17]:
#181 ist die Anzahl der Fraud Cass für die wir auch Compustat Daten besitzen
dfFraudSubset.shape

(181, 6)

In [18]:
dfNOFraudSubset=df2subset[df2subset["SECFNAME"].isin(ListSECFNAME3)]

In [19]:
dfNOFraudSubset.shape

(3771, 6)

In [20]:
dfNOFraudSubset["target"]=0

/Users/patricia/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
dfNOFraudSubset.head()

,FORM,CONAME,CIK,FDATE,SECFNAME,FYEAR,target
15153,10-K,3DFX INTERACTIVE INC,1010026,1998-02-18,edgar/data/1010026/0000891618-98-000818.txt,1998,0
15159,10-K,AAON INC,824142,1998-03-26,edgar/data/824142/0001026608-98-000005.txt,1998,0
15180,10-K,ACTEL CORP,907687,1998-03-31,edgar/data/907687/0000907687-98-000026.txt,1998,0
15182,10-K,ACUSON CORP,717014,1998-03-27,edgar/data/717014/0001012870-98-000763.txt,1998,0
15187,10-K,ADC TELECOMMUNICATIONS INC,61478,1998-01-16,edgar/data/61478/0001047469-98-001384.txt,1998,0

In [22]:
#extract No Fraud MDAs
dfNOFraudSubset.to_csv('NoFraudCases.csv', header=True, index=False)

In [25]:
filepath='/Volumes/crajapax/DataCollection/NoFraudCases.csv'
name="downloadlistNoFraudMda"
#download="/Volumes/Elements/MasterThesis/Master/Data/mda_nofraud/downloadlistNoFraudMda.txt"

In [26]:
MdaExtract=MDAExtract.downloadMDA(filepath,name)

/Volumes/Elements/MasterThesis/Master/Data/mda/downloadlistNoFraudMda2.txt
1121788_0001144204-10-009642
1086319_0000950123-10-020605
1131324_0000950123-10-024793
355811_0000950123-10-015388
41023_0001193125-10-055455
746210_0001415889-10-000061
943861_0001193125-10-042262
851310_0000950123-10-019274
879169_0001047469-10-001834
1138639_0001193125-10-044817
1051114_0001188112-10-000853
1104506_0001104506-10-000004
1040416_0001193125-10-057177
1145197_0000950123-10-022584
1087432_0001193125-10-055752
NO MD&A
736012_0001104659-10-016982
1111928_0000950123-10-024694
1106935_0000950123-10-025259
1114714_0001144204-10-012295
1096788_0001193125-10-056792
855658_0001193125-10-052435
1033905_0000950123-10-016925
773141_0001193125-10-022961
910329_0001144204-10-016775
701811_0001193125-10-059520
856982_0001104659-10-013524
932111_0000932111-10-000010
1050446_0001193125-10-038870
911109_0000950123-10-019227
1085770_0000950123-10-021303
1265888_0000950123-10-018171
71691_0001193125-10-036478
1065332_0001065332-10-000003
1039889_0000950123-10-013775
1120914_0001047469-10-002317
1013857_0001193125-10-036506
921738_0001047469-10-001487
77159_0001144204-10-010762
356213_0000950123-10-018240
850579_0000850579-10-000024
1088033_0001193125-10-035331
1060990_0000950123-10-024674
812191_0000812191-10-000012
NO MD&A
768710_0001144204-10-013129
1030484_0000897101-10-000485
1397516_0001193125-10-046991
85974_0001047469-10-001527
1009356_0001193125-10-051570
1008817_0000950123-10-015833
1320414_0000950123-10-025544
1003214_0001003214-10-000006
6885_0000006885-10-000037
1082923_0001144204-10-013513
1018946_0001018946-10-000011
867773_0000867773-10-000008
864240_0001193125-10-064553
357001_0001019687-10-000140
1171662_0000950123-10-021561
860731_0000950123-10-016745
1133260_0001193125-10-048760
798949_0001193125-10-037350
1279695_0000950123-10-025169
101984_0000950123-10-024580
1166388_0000950123-10-025343
1288403_0001193125-10-044607
1011290_0001140361-10-023307
881890_0000950123-10-057903
815094_0001193125-10-134997
733269_0000733269-10-000065
869986_0001206774-10-001537
78749_0000950123-10-057335
890491_0001193125-10-151360
1095600_0001193125-10-134028
808064_0001193125-10-087873
772406_0000950123-10-054820
1005229_0001140361-10-023475
859014_0000950123-10-053720
25354_0000025354-10-000046
753568_0001193125-10-137224
813781_0000950123-10-055177
724571_0001144204-10-020608
41133_0000041133-10-000021
313143_0000950123-10-054652
812906_0001144204-10-018082
46250_0000897101-10-001212
1100270_0001206774-10-000981
802356_0001354488-10-002101
1087423_0001193125-10-099295
88941_0001193125-10-075183
93384_0001140361-10-017781
865570_0001047469-10-005774
1166388_0000950123-10-032960
1166388_0000950123-10-050997
1138723_0001047469-10-007812
2034_0001188112-10-002381
6284_0001193125-10-215375
1275187_0001193125-10-181143
940944_0001193125-10-165061
39648_0000950123-10-081070
1123360_0001193125-10-169025
1031028_0000950123-10-085712
707549_0001193125-10-194304
1170534_0001193125-10-167450
899923_0001193125-10-186969
1041514_0001062993-10-002813
NO MD&A
1039280_0001144204-10-048772
889930_0001193125-10-216420
1084765_0000950123-10-068245
906192_0001193125-10-186695
1092367_0001193125-10-216437
730263_0000950123-10-089655
803647_0000950123-10-088558
1183941_0001047469-10-010324
6955_0001193125-10-239211
61478_0000950123-10-108231
812482_0001193125-10-285712
933974_0000950123-10-108180
936395_0000950123-10-115852
1066026_0001193125-10-263894
783412_0001437749-10-004397
33619_0001193125-10-285540
1048695_0000950123-10-108100
1013237_0001193125-10-241170
1005731_0001193125-10-239862
1057060_0000950123-10-110482
915862_0000915862-10-000073
1041803_0001041803-10-000041
1019361_0000930413-10-005871
883241_0001193125-10-282648
915324_0001437749-10-004377
102741_0000897101-10-002469
203527_0001193125-10-267742
109156_0001047469-10-008538
887568_0001193125-10-283124
910638_0000950123-11-014949
824142_0001026608-11-000023
706688_0000950123-11-018548
1043533_0001144204-11-011709
1070494_0001193125-11-062277
817979_0001047469-11-002734
1130258_0000950123-11-015697
1008848_0001008848-11-000018
1062478_0001193125-11-064203
926282_0000950123-11-018429
913077_0000913077-11-000013
1098972_0001193125-11-068337
1086222_0001193125-11-051569
915913_0001193125-11-047404
899866_0001193125-11-039250
66756_0000066756-11-000029
1097264_0001047469-11-001718
97196_0000097196-11-000001
1047127_0000950123-11-017901
6494_0001145443-11-000339
882289_0001193125-11-047377
1080709_0001193125-11-067308
9326_0001140361-11-012692
1280058_0001193125-11-051808
1091171_0000950123-11-019883
14930_0000014930-11-000033
885245_0001157523-11-001807
1062449_0001104659-11-010383
858470_0001193125-11-049690
1333248_0001193125-11-056422
820081_0001140361-11-008204
1040593_0001193125-11-085103
813920_0000813920-11-000011
1020214_0001193125-11-068699
1061393_0001061393-11-000021
30828_0001193125-11-066939
1050797_0001193125-11-063776
23111_0001193125-11-047412
23194_0000950123-11-016458
949158_0001193125-11-056411
784199_0001193125-11-041153
912183_0001047469-11-001194
1005201_0001047469-11-002224
714603_0001047469-11-001554
907562_0001144204-11-012343
31347_0001193125-11-067459
808326_0001140361-11-002225
1244937_0000950123-11-019982
1227930_0001193125-11-022911
1027207_0001047469-11-001422
35214_0000950123-11-019921
1262039_0001262039-11-000007
887936_0001193125-11-047591
886128_0000950123-11-003053
1121788_0001144204-11-010358
1131324_0000950123-11-024832
355811_0000950123-11-016242
41023_0001193125-11-064075
1127342_0001193125-11-062904
1274057_0001047469-11-000972
1087432_0001193125-11-060035
930553_0001193125-11-047560
318996_0000950123-11-019146
1102993_0001144204-11-014934
1033905_0001033905-11-000007
1056696_0000950123-11-017219
773141_0001193125-11-031993
856982_0001104659-11-014389
932111_0000932111-11-000008
1085770_0001206774-11-000274
704532_0001193125-11-064498
1117106_0001193125-11-055038
1265888_0000950123-11-018814
225263_0001193125-11-057723
1116463_0001193125-11-062311
1013857_0001193125-11-068758
921738_0001047469-11-001383
77159_0001144204-11-011218
1085869_0001085869-11-000005
1093691_0001003297-11-000114
833640_0001193125-11-045774
1088033_0001193125-11-045005
891288_0001193125-11-043600
946563_0001104659-11-017984
85974_0001047469-11-001406
88941_0001193125-11-084847
849869_0001193125-11-049364
1038074_0001047469-11-000733
1082923_0001144204-11-014915
867773_0000867773-11-000008
1011064_0001193125-11-046262
943117_0001047469-11-001432
1040426_0001193125-11-054945
317771_0001193125-11-050345
795551_0001188112-11-000369
357001_0001019687-11-000186
1160858_0001047469-11-002092
860731_0000950123-11-017571
1016125_0001016125-11-000004
1133260_0001193125-11-056040
798949_0001193125-11-044656
1142701_0001047469-11-001459
1030206_0001140361-11-005391
103145_0001047469-11-001284
946840_0001193125-11-045119
1050550_0001193125-11-059471
1288403_0001193125-11-055941
1098277_0001193125-11-030687
878828_0000930413-11-002396
815094_0001193125-11-157312
733269_0000733269-11-000016
78749_0001193125-11-164802
719866_0001193125-11-162816
24104_0001104659-11-020423
768408_0001104659-11-036207
863015_0001047469-11-005892
1078075_0001193125-11-153121
1087423_0001193125-11-117416
1138723_0001047469-11-008120
1275187_0001193125-11-221266
1071993_0001193125-11-235620
895419_0001193125-11-225630
39648_0001193125-11-233431
1123360_0001193125-11-196004
707549_0001193125-11-227691
57725_0001104659-11-051106
889930_0001193125-11-247208
799729_0001193125-11-234101
918965_0001193125-11-235318
1092367_0001193125-11-253325
882873_0000897101-11-001608
109156_0001047469-11-008140
910638_0001193125-12-074109
706688_0001193125-12-088733
1070494_0001193125-12-098990
1130258_0001193125-12-067567
1062478_0001193125-12-106687
926282_0001193125-12-089158
1158223_0001047469-12-002631
1098972_0001193125-12-098885
1086222_0001266432-12-000010
915913_0001193125-12-071957
97196_0000097196-12-000008
1178879_0001193125-12-085717
6494_0001145443-12-000257
1080709_0001193125-12-117359
872448_0001047469-12-001786
1113232_0001047469-12-001874
1172139_0001193125-12-074972
1048477_0001193125-12-072924
1280058_0001193125-12-088252
1016281_0001193125-12-105896

1040593_0001193125-12-089501
1020214_0001193125-12-096720
20212_0001193125-12-109920
1168054_0001047469-12-001276
30828_0001193125-12-118967
22701_0000897101-12-000451
23111_0001193125-12-078045
24104_0001104659-12-022780
1023131_0001047469-12-001714
1209821_0001047469-12-001741
1108205_0001193125-12-089082
885306_0001193125-12-101762
1005201_0001047469-12-002308
1042893_0001193125-12-078769
1082038_0001193125-12-094391
31347_0001193125-12-115264
867374_0001193125-12-070404
1244937_0001193125-12-117111
1027207_0001047469-12-002000
887936_0001193125-12-078356
1086319_0001104659-12-022013
1131324_0001047469-12-002637
355811_0001193125-12-071341
943861_0001193125-12-076931
1031203_0001193125-12-052522
1276591_0001193125-12-117396
1080099_0001080099-12-000006
1087432_0001193125-12-089195
1111928_0001193125-12-081509
56047_0001193125-12-083165
771266_0001193125-12-117581
1102993_0001144204-12-014539
63754_0001193125-12-026335
1099590_0001193125-12-085292
1179929_0001193125-12-089404
906709_0001193125-12-089389
890465_0001136261-12-000104
1097864_0001193125-12-072371
1116463_0001193125-12-114853
724606_0000724606-12-000005
1013857_0001193125-12-089352
77159_0001144204-12-011173
810136_0001140361-12-002364
1093691_0001003297-12-000141
NO MD&A
768710_0001144204-12-016733
745732_0001206774-12-001210
85974_0001047469-12-001870
1009356_0001193125-12-085075
1082526_0001193125-12-078449
948708_0001193125-12-081316
1043509_0001193125-12-096732
1105472_0001047469-12-001464
1092699_0001193125-12-106386
883975_0001193125-12-115972
1040426_0001193125-12-081686
98246_0001193125-12-136912
1160858_0001047469-12-001856
875657_0001193125-12-112219
798949_0001193125-12-074271
1279695_0001193125-12-111763
101984_0001193125-12-114613
896264_0001047469-12-002617
103145_0001047469-12-001286
946840_0001193125-12-085452
1050550_0001193125-12-099055
1098277_0001193125-12-073580
815094_0001193125-12-258595
78749_0001193125-12-268267
768408_0001104659-12-045009
724571_0001144204-12-021301
812906_0001144204-12-023005
923601_0001144204-12-037190
91668_0001144204-12-032233
912615_0001193125-12-146029
1138723_0001047469-12-008730
1275187_0001193125-12-355457
1100412_0001047469-12-008381
354655_0001144204-12-051304
27093_0001171520-12-000646
32621_0001193125-12-302134
39648_0001193125-12-367510
887497_0001193125-12-301684
855654_0001047469-12-008592
722830_0001193125-12-366797
1039065_0001047469-12-008174
82628_0001193125-12-389708
6955_0001193125-12-437816
6284_0001193125-12-415437
779544_0000930413-12-006712
19446_0001104659-12-069106
1048695_0001193125-12-478451
1001115_0001193125-12-499442
1041803_0001041803-12-000046
868611_0001193125-12-437801
1029744_0001193125-12-500121
924717_0001193125-12-503216
883241_0001193125-12-510596
203527_0001193125-12-478911
109156_0001047469-12-009281
910638_0001193125-13-072822
706688_0001193125-13-071592
817979_0001140361-13-012998
1062478_0001193125-13-098728
926282_0001193125-13-082523
1086222_0001266432-13-000021
915913_0001193125-13-062728
97196_0000097196-13-000007
6494_0001145443-13-000876
884731_0001193125-13-087814
1041577_0001193125-13-071519
1113232_0001047469-13-002045
1172139_0001193125-13-070731
858470_0001047469-13-001948
887596_0001104659-13-016153
30828_0001193125-13-111534
1023131_0001047469-13-001792
1108205_0001193125-13-104455
885306_0001193125-13-098608
1086740_0001144204-13-017102
1082038_0001193125-13-087839
887936_0001193125-13-084880
1131324_0001047469-13-002864
851310_0001193125-13-087640
1123494_0001193125-13-112305
1024732_0001193125-13-111548
1138639_0001193125-13-091900
802724_0001193125-13-126841
1053374_0001193125-13-110178
1050446_0001193125-13-055763
1235010_0001047469-13-001950
907242_0001104659-13-021105
906163_0001193125-13-065025
74303_0000074303-13-000012
1013857_0001193125-13-067337
921738_0001047469-13-001483
1085869_0001085869-13-000007
850579_0000850579-13-000006
805305_0001193125-13-009515
730272_0001193125-13-109050
1043509_0001193125-13-127041
1092699_0001193125-13-093885
904080_0001193125-13-080089
1040426_0001193125-13-083913
1029023_0001193125-13-109891
1182325_0001047469-13-002963
357001_0001019687-13-000273
1279695_0001193125-13-102148
819050_0001193125-13-062438
881524_0001047469-13-001714
892986_0001047469-13-002288
815094_0001193125-13-237523
719866_0001193125-13-259726
916529_0001185185-13-000701
768835_0000768835-13-000024
1005229_0001140361-13-023206
1022408_0001022408-13-000025
753568_0001437749-13-007521
724571_0001144204-13-022740
1170534_0001193125-13-269098
878526_0001193125-13-149244
1078075_0001193125-13-235038
1087423_0001193125-13-173724
1042173_0001562762-13-000089
1019671_0001144204-13-020984
797721_0001193125-13-234043
1207074_0001047469-13-006546
878828_0000930413-13-001973
1138723_0001047469-13-008757
6284_0001193125-13-384942
1275187_0001193125-13-334608
19446_0001104659-13-073131
723254_0000723254-13-000011
895419_0000895419-13-000044
32166_0001193125-13-334810
95052_0001193125-13-331010
32621_0001193125-13-291843
1031028_0001193125-13-366627
863015_0001047469-13-007339
57725_0001104659-13-069449
758938_0001437749-13-012454
730263_0001193125-13-380045
109156_0001047469-13-009367
814547_0001193125-13-438562
12040_0000914317-13-001605
1001115_0001564590-13-001356
805305_0001193125-13-483245
868611_0000868611-13-000037
924717_0001193125-13-469798
831641_0001047469-13-010692
203527_0001564590-13-001371
103145_0001047469-13-010200
910638_0001562762-14-000032
926282_0001193125-14-071988
97196_0000097196-14-000005
6494_0001145443-14-000358
1080709_0001193125-14-080400
1113232_0001047469-14-001681
1156388_0001193125-14-069244
882796_0001193125-14-091609
858470_0001047469-14-001538
1020214_0001193125-14-089394
887596_0001104659-14-014213
23194_0001564590-14-000379
1103837_0001047469-14-001136
1108205_0001193125-14-097662
885306_0001193125-14-102572
1086740_0001144204-14-018970
1005201_0001047469-14-002523
1042893_0001193125-14-073575
867374_0001193125-14-059246
887936_0001193125-14-063706
1131324_0001047469-14-002149
943861_0001193125-14-062843
1095565_0001193125-14-082130
749660_0001193125-14-078096
1161728_0001161728-14-000004
225263_0001104659-14-019351
1120914_0001437749-14-004084
1013857_0001193125-14-067420
921738_0001047469-14-001467
880771_0001193125-14-102095
1042173_0001042173-14-000003
1003214_0001564590-14-000318
1038074_0001047469-14-000500
743238_0001437749-14-004014
1182325_0001047469-14-002521
1279695_0001193125-14-096679
896264_0001047469-14-002329
819050_0001193125-14-054318
1288403_0001564590-14-000635
892986_0001047469-14-001905
919013_0001047469-14-002416
105418_0000105418-14-000018
1095996_0001445305-14-001123
878828_0000930413-14-001516
1130591_0001193125-14-077458
815094_0001193125-14-214835
890491_0001193125-14-253539
772406_0001193125-14-215076
724571_0001144204-14-023400
863015_0001047469-14-005795
1138723_0001047469-14-007280
6284_0001193125-14-354592
27093_0001171520-14-000525
95052_0001193125-14-320082
39648_0000039648-14-000031
855654_0001047469-14-007236
56701_0000056701-14-000028
1084765_0001193125-14-282563
817720_0001193125-14-318722
779544_0000930413-14-004937
12040_0001174947-14-000614
1001115_0001564590-14-005894
50493_0000050493-14-000021
68709_0000897101-14-001738
868611_0000868611-14-000054
1029744_0001193125-14-445355
717954_0001437749-14-019037
203527_0001564590-14-005915
910638_0000910638-15-000003
706688_0000706688-15-000089
926282_0001193125-15-059743
97196_0000097196-15-000005
1047127_0001047127-15-000010
940332_0001437749-15-004339
6494_0001145443-15-000491
1013238_0001193125-15-095608
1109354_0001047469-15-001394
1093207_0001144204-15-002234
1162461_0001437749-15-005187
1005201_0001047469-15-001308
1082038_0001193125-15-074853
1124140_0001558370-15-000227
917491_0001193125-15-062752
887936_0001193125-15-058655
1121788_0001144204-15-010586
1131324_0001558370-15-000335
886744_0001047469-15-001989
749660_0001193125-15-089682
911109_0001193125-15-070030
914475_0001193125-15-039176
1000694_0001144204-15-012379
906163_0001564590-15-000764
1120914_0001437749-15-003857
1013857_0001193125-15-065664
1010552_0001564590-15-000800
730272_0001193125-15-095569
946563_0001104659-15-024669
1397516_0001564590-15-001192
880771_0000880771-15-000021

743238_0001437749-15-004162
95574_0001437749-15-003455
875657_0000875657-15-000010
1142701_0001047469-15-001433
755001_0001193125-15-023683
881524_0001047469-15-001202
878828_0000930413-15-001568
1130591_0001193125-15-069675
815094_0001193125-15-204302
890491_0001193125-15-237080
724571_0001144204-15-023306
1100270_0001206774-15-001119
1087423_0001193125-15-153023
1019671_0001193125-15-121530
923601_0001144204-15-039740
912615_0001193125-15-116065
1138723_0001047469-15-007028
2034_0001571049-15-007509
6284_0001193125-15-329227
19446_0001104659-15-068104
1039065_0001558370-15-001687
NO MD&A
943819_0001193125-15-281887
933034_0000950123-15-009734
1177648_0001193125-15-401602
1001115_0001564590-15-010914
1005731_0001213900-15-007660
50493_0000050493-15-000023
1057060_0001564590-15-011336
70793_0001047469-15-008748
924717_0001564590-15-011278
831641_0001047469-15-008864
910638_0000910638-16-000016
824142_0000824142-16-000118
1070494_0001193125-16-483533
926282_0001193125-16-475816
1098972_0001564590-16-014840
1086222_0001086222-16-000245
6494_0001206774-16-005177
916529_0001185185-16-003913
1051627_0001558370-16-004062
9326_0001140361-16-055524
858470_0000858470-16-000036
820081_0001437749-16-024955
1016281_0001016281-16-000161
887596_0001104659-16-100056
1071993_0001071993-16-000071
1082038_0001193125-16-488358
867374_0001193125-16-468633
933738_0001185185-16-003829
1124140_0001558370-16-003446
913165_0001564590-16-014007
354908_0000354908-16-000103
1262039_0001262039-16-000053
887936_0001564590-16-013288
886128_0000886128-16-000032
1121788_0001615774-16-004243
1131324_0001558370-16-003944
886744_0001047469-16-010984
1111928_0001111928-16-000159
56047_0001140361-16-054260
1056696_0001564590-16-012414
1056087_0001558370-16-003878
1050446_0001193125-16-479811
891014_0001140361-16-054076
1235010_0001047469-16-010502
906709_0001564590-16-013759
71691_0000071691-16-000023
1100917_0001171843-16-008443
1116463_0001193125-16-503534
1120914_0001437749-16-026490
1013857_0001193125-16-478369
31791_0000031791-16-000014
1093691_0001047469-16-011132
1038074_0001047469-16-010039
945114_0001140361-16-058278
1171662_0001140361-16-059220
860731_0001564590-16-013137
105418_0000105418-16-000069
912833_0000912833-16-000070
1095996_0001628280-16-012633
878828_0000930413-16-006253
3116_0001104659-16-119447
920448_0000920448-16-000127
24104_0001558370-16-004498
724571_0001615774-16-004959
1036188_0001567619-16-002175
1087423_0001193125-16-556503
1138723_0001047469-16-015108
2034_0001571049-16-017785
6284_0001193125-16-721523
95052_0001193125-16-681445
39648_0000039648-16-000043
1114925_0001019687-16-007351
918965_0000918965-16-000052
933034_0000950123-16-020394
96793_0001193125-16-726649
730263_0001193125-16-719899
1438731_0001564590-16-030454
783412_0001437749-16-043338
1001115_0001564590-16-029427
1005731_0001213900-16-017511
1057060_0001564590-16-029870
924717_0001564590-16-029755